@page "/counter"
@page "/dotnetstuff"
@page "/counter/{StartValue:int}"
@layout MainLayout
<PageTitle>Counter</PageTitle>

<h1>@TitleName</h1>

<p role="status">Current count: @_currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-danger" @onclick="DecrementCount">Click me to decrease by one!</button>

@code {
    private int _currentCount = 0;

    protected override void OnParametersSet()
    {
        _currentCount = StartValue;
        base.OnParametersSet();
    }

    [Parameter]
    public int  StartValue { get; set; }

    [Parameter]
    public int IncrementBy { get; set; }

    [Parameter]
    public int DecrementBy { get; set; }

    [Parameter]
    public string? TitleName { get; set; }

    private void IncrementCount()
    {
        _currentCount += IncrementBy;

    }

    private void DecrementCount()
    {
        _currentCount -= DecrementBy;
    }

}
