@page "/"

<PageTitle>Learning Blazor</PageTitle>

<h1>Hello, world!</h1>

Welcome to your Prince Andrew' app.
Good job getting started learning more about Blazor UI framework!

<SurveyPrompt Title="How is Blazor working for you?" />
<SurveyPrompt Title="Good job learning how to reference a razor component inside another razor component!"></SurveyPrompt>
<Counter IncrementBy="1" DecrementBy="1" TitleName=""></Counter>
<Counter IncrementBy="10" DecrementBy="20" TitleName="Good Job learning more about Components and modifying a component's parameters!'"></Counter>
<FetchData></FetchData>